<?xml version="1.0" encoding="UTF-8"?>
<package>
	
	<controller id="english" prefix="en">
		
		<route url="/">
			<page>index</page>
			<methods>any</methods>
			<map>index_en</map>
		</route>
	
	</controller>
	
	<controller id="spanish" prefix="es">
		
		<route url="/">
			<page>index</page>
			<methods>any</methods>
			<map>index_es</map>
		</route>
	
	</controller>
	
</package>